<aside class="right-aside">
    <div>
        <h5>Quick Links</h5>
        <ul>
            <li>
                <a href="/business/service">Service</a>
            </li>
            <li>
                <a href="/business/menu">View Menu</a>
            </li>
            <li>
                <a href="/business/menu/new">Add Menu Item</a>
            </li>
            <li>
                <a href="/business/transactions">Transactions</a>
            </li>

        </ul>
    </div>
</aside>
