<section class="hero hero-main hero-1">
    <div class="hero-container-main">
        <div class="hero-headline-main">Finally.</div>
        <div class="hero-tagline-main">Dining out just became enjoyable</div>
    </div>
</section>
<section class="hero hero-left hero-2">
    <div class="hero-container">
        <div class="hero-headline">Make bad service extinct</div>
        <div class="hero-tagline">
            <span class="locavorus">locavorus</span>
            alerts restaurants when you need something. No more flailing at the waiter</div>
    </div>
</section>
<section class="hero hero-right hero-3">
    <div class="hero-container">
        <div class="hero-headline">The menu at your fingertips</div>
        <div class="hero-tagline">
            <span class="locavorus">locavorus</span>
            shows you every dish on offer, with a complete list of ingredients. No more wondering if it contains nuts</div>
    </div>
</section>
<section class="hero hero-left hero-4">
    <div class="hero-container">
        <div class="hero-headline">The right order. Every time</div>
        <div class="hero-tagline">
            <span class="locavorus">locavorus</span>
            sends your order straight to the kitchen. No more forgotten dishes</div>
    </div>
</section>
<section class="hero hero-right hero-5">
    <div class="hero-container">
        <div class="hero-headline">Pay your bill your way</div>
        <div class="hero-tagline">
            <span class="locavorus">locavorus</span>
            supports all major credit cards and bill splitting. No more fumbling with your wallet</div>
    </div>
</section>
<section class="hero hero-left hero-6">
    <div class="hero-container">
        <div class="hero-headline">Know what you've eaten</div>
        <div class="hero-tagline">
            <span class="locavorus">locavorus</span>
            keeps track of everything you order. No more wondering where you had that amazing dessert</div>
    </div>
</section>
<nav class="hero-nav">
    <div>

        <h4>Try
            <span class="locavorus">
                <a href="/auth/signup">locavorus</a>
            </span>
            free</h4>
    </div>
</nav>
