<div class="fixed-buttons">
    <button class="hero-customer-button">For customers</button>
    <button class="hero-business-button">For restaurants</button>
</div>

<section class="hero-customer">
    <section class="hero hero-main hero-1">
        <div class="hero-container-main">
            <div class="hero-headline-main">Finally.</div>
            <div class="hero-tagline-main">Dining out just became enjoyable</div>
        </div>
    </section>
    <section class="hero hero-left hero-2">
        <div class="hero-container">
            <div class="hero-headline">Make bad service extinct</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                alerts restaurants when you need something. No more flailing at the waiter</div>
        </div>
    </section>
    <section class="hero hero-right hero-3">
        <div class="hero-container">
            <div class="hero-headline">The menu at your fingertips</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                shows you every dish on offer, with a complete list of ingredients. No more wondering if it contains nuts</div>
        </div>
    </section>
    <section class="hero hero-left hero-4">
        <div class="hero-container">
            <div class="hero-headline">The right order. Every time</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                sends your order straight to the kitchen. No more forgotten dishes</div>
        </div>
    </section>
    <section class="hero hero-right hero-5">
        <div class="hero-container">
            <div class="hero-headline">Pay your bill your way</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                supports all major credit cards and bill splitting. No more fumbling with your wallet</div>
        </div>
    </section>
    <section class="hero hero-left hero-6">
        <div class="hero-container">
            <div class="hero-headline">Know what you've eaten</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                keeps track of everything you order. No more wondering where you had that amazing dessert</div>
        </div>
    </section>
</section>

<section class="hero-business">
    <section class="hero hero-main hero-7">
        <div class="hero-container-main">
            <div class="hero-headline-main">Finally.</div>
            <div class="hero-tagline-main">Service just became fun</div>
        </div>
    </section>
    <section class="hero hero-left hero-8">
        <div class="hero-container">
            <div class="hero-headline">Make bad service extinct</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                alerts you when customers need something. No more ignored requests</div>
        </div>
    </section>
    <section class="hero hero-right hero-9">
        <div class="hero-container">
            <div class="hero-headline">The menu at your fingertips</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                keeps track of your dishes for you, accessible anywhere. No more running out of menus</div>
        </div>
    </section>
    <section class="hero hero-left hero-10">
        <div class="hero-container">
            <div class="hero-headline">The right order. Every time</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                sends orders straight to the kitchen with a list of requests. No more unhappy customers</div>
        </div>
    </section>
    <section class="hero hero-right hero-11">
        <div class="hero-container">
            <div class="hero-headline">Pay your bill your way</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                makes it easy to accept payments. No more looking for spare change under the carpet</div>
        </div>
    </section>
    <section class="hero hero-left hero-12">
        <div class="hero-container">
            <div class="hero-headline">Know what you've served</div>
            <div class="hero-tagline">
                <span class="locavorus">locavorus</span>
                keeps track of everyone and everything you've served. No more wondering where your inventory goes</div>
        </div>
    </section>
</section>
<nav class="hero-nav">
    <div>
        <h4>Try
            <span class="locavorus">
                <a href="/auth/signup">locavorus</a>
            </span>
            free</h4>
    </div>

</nav>

<script src="/scripts/index.js" charset="utf-8"></script>
