<main>
    <section>
        <h1>locavorus</h1>
        <h3>make bad service
            <span class="extinct">
                <i>extinct</i>
            </span>
        </h3>
    </section>
</main>
