<h2>Users</h2>

<% allProfiles.forEach((profile) => { %>
    <p><%= profile.name %>
        :
        <%= profile.email %>
        :
        <%= profile.id %>
        :
        <%= profile.business %>
    </p>

<% }) %>
