<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Locavorus</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type='text/css'>
        <link rel="icon" href="favicon.ico" sizes="32x32" type="image/png">
    </head>
    <body>
        <header class="top">
            <div class="locavorus">
                <a href="/"><img src="/images/locavorus.png" alt="locavorus.png">
                    <h6>Locavorus</h6>
                </a>
            </div>
            <div class="main-search">

                <form class="search-form" action="/business" method="POST">
                    <input type="text" name="search" placeholder="Find a restaurant">
                    <button type="submit">Search</button>
                </form>

            </div>
            <div class="main-nav">

                <% if (!currentUser) { %>
                    <% include partials/login %>
                <% } else if (!currentUser.business) { %>
                    <% include partials/account %>
                <% } else { %>
                    <% include partials/dashboard %>
                    <% include partials/account %>
                <% } %>
            </div>
        </header>

        <% include partials/alerts %>

        <%- body %>
    </body>
</html>
