<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Locavorus</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type='text/css'>
        <link rel="icon" href="favicon.ico" sizes="32x32" type="image/png">
    </head>
    <body>
        <header class="top">
            <div class="header-logo">
                <div class="header-img">
                    <a href="/"><img src="/images/locavorus.png" alt="locavorus.png"></a>
                </div>
                <div class="header-word">
                    <a href="/">
                        <span class="header-name">locavorus</span>
                    </a>
                </div>
            </div>
            <div class="header-search">
                <form class="header-search-form" action="/business" method="POST">
                    <input id="header-search-input" type="text" name="search" placeholder="Find a restaurant">
                    <input id="header-search-button" type="submit" value="Search">
                </form>
            </div>
            <div class="header-nav">
                <% if (!currentUser) { %>
                    <% include partials/login %>
                <% } else if (!currentUser.business) { %>
                    <% include partials/account %>
                    <% include partials/logout %>
                <% } else { %>
                    <% include partials/dashboard %>
                    <% include partials/account %>
                    <% include partials/logout %>
                <% } %>
            </div>
        </header>
        <div class="headerbg"></div>
        <div class="content">
            <% include partials/alerts %>

            <%- body %>
        </div>
    </body>
</html>
