<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Locavorus</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type='text/css'>
        <link rel="icon" href="favicon.ico" sizes="16x16" type="image/png">
    </head>
    <body>
        <header class="top">
            <div class="logo">
                <h1>
                    <a href="/">Locavorus</a>
                </h1>
            </div>
            <div class="main-search">
                <input type="text" name="search-bar" placeholder="Find a restaurant">
                <button type="button" name="search-button">Search</button>
            </div>
            <div class="main-nav">
                <ul>
                    <li>
                        <a href="/auth/signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="/auth/login">Login</a>
                    </li>
                    <li>
                        <a href="/auth/logout">Log Out</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/business">Businesses</a>
                    </li>
                    <li>
                        <a href="/business/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </header>

        <% include partials/alerts %>

        <%- body %>

    </body>
</html>
