* {
  /*box-sizing: border-box;*/
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /*margin: 0;
  padding: 0;*/
  /*background-color: red;*/
}

.top {
  width: 100%;
  height: 72px;
  display: flex;
  /*background-color: red;*/
  flex-flow: row;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.main-nav {
  /*width: 100%;*/
  /*background-color: red;*/
  height: 100%;
  justify-content: center;
  align-content: center;
}

.main-nav ul {
  align-content: center;
}

.main-nav ul li {
  display: inline-block;
  align-content: center;
  padding: 0;
  margin: 0;
}

.account-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  /*background-color: red;*/
}

.account-nav li {
  display: inline-block;
  width: 10%;
  margin: 0;
  padding: 0;
  /*background-color: green;*/
}

.account-nav li button {
  width: 100%;
  margin: 0;
  padding: 0;
  /*background-color: white;*/
}

.receive-nav li {
  display: inline-block;
}

label, input {
  display: inline-block;
}

label {
  width: 15%;
}

input {
  width: 20%;
}

form {
  display: inline;
}
