<aside class="left-aside">
    <ul></ul>
</aside>
<main>
    <h2>Thank you for coming! We hope you had a lovely time. Always stay
        <i>locavor-acious!</i>
    </h2>
    <h5>A copy of the invoice has been sent to
        <%= user.email %>.</h5>
</main>
<aside class="right-aside"></aside>
