<div class="content">
    <nav></nav>
    <div class="bill-main">
        <div>
            <div class="hero-headline">Thank you for coming. We hope you had a lovely time.
            </div>
        </div>
        <div>
            <h5>A copy of the invoice has been sent to
                <b><%= user.email %></b>.</h5>
        </div>
        <div>
            <img src="/images/locavorus-large.png" alt="locavorus-large.png">
        </div>
    </div>

</div>
