<h2>Businesses</h2>

<% allBusinesses.forEach((business) => { %>
    <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
    <p>
        <a href="/business/<%- dashName %>/<%- business.id %>"><%= business.name %>
            :
            <%= business.id %></a>
    </p>

<% }) %>
