<h2><%= name %></h2>

<table>
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Description
            </td>
            <td>
                Price
            </td>
        </tr>
    </thead>
    <tbody>

        <% menu.forEach((item) => { %>
            <tr>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.description %>
                </td>
                <td>
                    <%= item.price %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
