<nav>
    <span class="nav-header">Menu</span>
</nav>

<aside class="left-aside">
    <h5>
        <a href="/business/menu/new">Add Menu Item</a>
    </h5>
    <h6>Sort</h6>
    <h6>Filter</h6>
</aside>

<main>
    <% menu.forEach((item) => { %>
        <article class="menu-item">
            <div class="placeholder-image"></div>
            <div class="menu-main">
                <p>
                    <%= item.name %>
                </p>
                <p>
                    <%= item.description %>
                </p>
                <p>
                    <%= item.price %>
                </p>
            </div>
            <div class="menu-buttons">
                <ul>
                    <li>
                        <button type="button" name="update-menu">Update</button>
                    </li>
                    <li>
                        <button type="button" name="archive-menu">Archive</button>
                    </li>
                    <li>
                        <button type="button" name="remove-menu">Remove</button>
                    </li>
                </ul>
            </div>
        </article>
    <% }) %>
</main>

<% include ../partials/business-quick-links %>
