<nav>
    <h3>Add Menu Item</h3>
</nav>
<aside class="left-aside"></aside>
<main class="menu">
    <div class="addMenuItem">
        <form class="menuItem-form" action="/business/menu" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="chicken a la láme">
            </div>
            <div class="form-group">
                <label for="name">Description:</label>
                <input type="text" name="description" placeholder="sous vide chicken on pureed potato with confit rutabaga and crispy sesame tuile">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" name="price" placeholder="18.90">
            </div>
            <button type="submit">Add Menu Item</button>
        </form>
    </div>
</main>

<% include ../partials/business-quick-links %>
