<nav>
    <span class="nav-header">Register a Business</h3>
</nav>

<aside class="left-aside">
    <ul></ul>
</aside>

<main>
    <form action="/business/register" method="POST">
        <input type="hidden" name="userId" value="<%- currentUserId %>">
        <div class="signup-group">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="French Bistro">
        </div>
        <div class="signup-group">
            <label for="cuisine">Cuisine:</label>
            <input type="text" name="cuisine" placeholder="french">
        </div>
        <div class="signup-group">
            <label for="description">Description:</label>
            <input type="text" name="description" placeholder="bistro, amazing, voila">
        </div>
        <div class="signup-group">
            <label for="address">Address:</label>
            <input type="text" name="address" placeholder="1 Eiffel Tower Lane">
        </div>
        <div class="signup-group">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="contact@frenchbistro.com">
        </div>
        <div class="signup-group">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" placeholder="63830223">
        </div>
        <div class="signup-group">
            <label for="website">Website:</label>
            <input type="text" name="website" placeholder="www.frenchbistro.com">
        </div>

        <input class="button" type="submit">
    </form>
</main>
