<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>

<script>
    var socket = io.connect()
    var room = "<%= chat %>"
    socket.on('connect', function() {
        socket.emit('join', room)
        console.log('joining ' + room)
    })
    socket.on('order', function(data) {
        console.log('receiving message ' + data.message)
        $('#messages').append($('<li>').text(data.message))
    })
    $('form').submit(function(event) {
        event.preventDefault()
        console.log('submitting form')
        socket.emit('message', {
            room: room,
            message: $('#m').val()
        })
        $('#m').val('')
    })
</script>
